/* estilos generales */ 

@font-face {
    font-family: avenir;
    src: url(../fonts/AvenirLTStd-Book.otf);
}

body {
    background: #f0f0f0;
    font-family: avenir, helvetica, arial;
}

li {
    list-style: none;
}

/* estilo imagen header */

#header_image_container {
    background: url('../img/background_a.jpg');
    position: relative;
    background-size: 100% 100%;
    text-align: center;
    padding: 0;
}

#header_image_container > div {
    position: absolute;
    bottom: 1em;
    width: 100%;
    color: #f7f7f7;
}

/* estilos texto y boton header */

#header_image_container h1 {
    text-shadow: 1px 1px 3px #747474;
}

#header_image_container a {
    border-radius: 0;
    border: 2px solid #f0f0f0;
    background: none;
    color: #f0f0f0;
}

#header_image_container a:hover {
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    background: #2b2b2b;
}

/* estilo menu */

#navbar-example {
    background: #2b2b2b;
    border: 0;
    opacity: 0.8;
}

/* estilo icono menu */

#main_logo {
    padding: 0.5em 1em;
}

#main_logo > img {
    width: 1.7em;
    margin-right: 0.5em;
}

/* estilo filas */

.filas {
    text-align: center;
    margin: 3em 0 0 0;
    padding: 0;
}

/* estilos texto dos columnas */

#fila_c {
    text-align: left;
}

#fila_c img {
    width: 100%;
    margin: 2em 0;
}

.texto_destacado {
    padding: 0.5em;
    background: #474747;
    color: #e9e9e9;
    box-shadow: 1px 1px 1px 1px #404040;
}

/* estilos fila paneles */

#fila_d img {
    width: 100%;
    margin-bottom: 1em;
}

.panel_custom {
    border-radius: 0;
    border: 0;
    box-shadow: 1px 1px 1px 0px #e0e0e0;
}

.panel_custom a {
    border-radius: 0;
    border: 0;
    background: #474747;
    color: #f0f0f0;
}

.panel_custom a:hover {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    background: #a6a6a6;
    color: #f0f0f0;
}

/* estilo footer */

#my_footer {
    background: #474747;
    color: #f0f0f0;
}

#my_link {
    color: #b0b0b0;
}

#my_footer .form-group > input, #my_footer .form-group > textarea {
    border-radius: 0;
    background: #f0f0f0;
    border: 0;
}

#my_footer form button {
    width: 100%;
    border-radius: 0;
    border: 2px solid #f0f0f0;
    background: none;
    color: #f0f0f0;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    #header_image_container {
        height: 20em!important;
    }
}